[submodule "bioformats"]
	path = bioformats
	url = https://github.com/openmicroscopy/bioformats.git
	branch = develop
[submodule "bio-formats-documentation"]
	path = bio-formats-documentation
	url = https://github.com/ome/bio-formats-documentation.git
	branch = master
[submodule "bio-formats-examples"]
	path = bio-formats-examples
	url = https://github.com/ome/bio-formats-examples.git
	branch = master
